.dailyBill {
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff;

    .header {
        --ka-text-color: #888c98;
        padding: 15px 15px 10px 15px;

        .dateIcon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 21px;
            margin-bottom: 9px;

            .arrow {
                display: inline-block;
                width: 5px;
                height: 5px;
                margin-top: -3px;
                margin-left: 9px;
                border-top: 2px solid #888c98;
                border-left: 2px solid #888c98;
                transform: rotate(225deg);
                transform-origin: center;
                transition: all 0.3s;
            }

            .arrow.expand {
                transform: translate(0, 2px) rotate(45deg);
            }

            .date {
                font-size: 14px;
            }
        }
    }

    .oneLineOverview {
        display: flex;
        justify-content: space-between;

        .pay {
            flex: 1;

            .type {
                font-size: 10px;
                margin-right: 2.5px;
                color: #e56a77;
            }

            .money {
                color: var(--ka-text-color);
                font-size: 13px;
            }
        }

        .income {
            flex: 1;

            .type {
                font-size: 10px;
                margin-right: 2.5px;
                color: #4f827c;
            }

            .money {
                color: var(--ka-text-color);
                font-size: 13px;
            }
        }

        .balance {
            flex: 1;
            margin-bottom: 5px;
            text-align: right;

            .money {
                line-height: 17px;
                margin-right: 6px;
                font-size: 17px;
            }

            .type {
                font-size: 10px;
                color: var(--ka-text-color);
            }
        }
    }

    .billList {
        padding: 15px 10px 15px 15px;
        border-top: 1px solid #ececec;

        .bill {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 43px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            .icon {
                margin-right: 10px;
                font-size: 25px;
            }

            .detail {
                flex: 1;
                padding: 4px 0;

                .billType {
                    display: flex;
                    align-items: center;
                    height: 17px;
                    line-height: 17px;
                    font-size: 14px;
                    padding-left: 4px;
                }
            }

            .money {
                font-size: 17px;

                &.pay {
                    color: #ff917b;
                }

                &.income {
                    color: #4f827c;
                }
            }
        }
    }
}

.dailyBill.expand {
    .header {
        border-bottom: 1px solid #ececec;
    }

    .billList {
        display: block;
    }
}